.user-profile{
    min-width: 100%;
    padding: 50px 0 0 0;
}
.profile-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.profile-top img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-top button{
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.hide-image-list{
    display: none;
}

.image-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 400px;
    background-color: #162032;
    width: 600px;
    height: 250px;
    margin: auto;
    border-radius: 10px;
}

.image-list .single-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-nav{
    margin: 20px 0;
    min-height: 100%;
}

.profile-nav ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 25px;
}

.profile-nav ul li{
    cursor: pointer;
}

.hide-profile, .hide-bookmark, .hide-history{
    display: none;
}

.edit-profile{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 600px;
    padding: 20px;
}
.edit-profile-form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}
.edit-profile-form-group input{
    padding: 5px 10px;
    border-radius: 5px;
}
.edit-profile form button{
    background: blue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

@media screen and (max-width: 900px){
    .profile-nav ul{
        font-size: 18px;
    }
    .edit-profile{
        width: 90%;
        padding: 0;
    }
.edit-profile-form-group input{
    padding: 5px 5px;
}

}